<h1>Register</h1>
<form action="/register" method="POST">
  <div>
    <label for="name">Name</label>
    <input type="text" id="name" name="name" required>
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
  </div>
  <div>
    <label for="role">As </label>
    <select id="role" name="role" required>
      <option value="student" selected>student</option>
      <option value="teacher">teacher</option>
    </select>
  </div>
  <button type="submit">Register</button>
</form>
<a href="/identify">LOGIN</a>